{% extends 'base.html.twig' %}

{% block title %}Edit Skill{% endblock %}

{% block body %}
    <h1>Administration</h1>

    <div class="content">
        <h2>Modifier une compétence</h2>

        {{ include('skill_admin/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <a href="{{ path('app_skill_admin') }}">retour à la liste</a>
    </div>
{% endblock %}
