@font-face {
    font-family: Epilogue;
    src: url(Epilogue/Epilogue-VariableFont_wght.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: Noto-Sans;
    src: url(Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
}
* {
    font-family: Noto-Sans;
}