//flex
%flex{
    display: flex;
}

%flex-align{
    display: flex;
    align-items: center;
}

%flex-around{
    @extend %flex;
    justify-content: space-around;
}

%flex-full-center{
    @extend %flex-align;
    align-items: center;
    justify-content: center;
}

%flex-aling-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

%flex-between{
    @extend %flex;
    justify-content: space-between !important;
}

%flex-around-column{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

%flex-between-column{
    @extend %flex-between;
    flex-direction: column;
}

// Liste
%list{
    list-style: none;
    @extend %flex-align;
}