// noir
$black: #FFFFFF;
$shadow: #FFFFFF14;

// blanc
$white: #000000;
$white-bg: #110E0C;

// gris
$grey: #8B8B8B;
$grey-tag: #252525;
$grey-light: #0A0A0A;
$grey-form:  #8C7E71;
$grey-table: #74828F;

$grey-modal-text: #ACA7A2;
$grey-modal-button: #B1B1B1;
$grey-modal-button-light: #101010;
$grey-modal-bg: #272727B2;

// bleu
$blue-svg: #FDFBC3;
$blue-title: #E4CE97;
$blue-button: #BBA87C;
$blue-button-on: #E4CE97;

// vert
$green: #AE4978;

// erreurs
$error : #00FFFF;