/* variables */
:root {
    --white: #000000;
    --white-background: #110E0C;
    --blue-title: #E4CE97;
    --blue-button: #BBA87C;
    --blue-button-active: #E4CE97;
    --blue-file-icon: #FDFBC3;
    --green: #AE4978;
    
    --gray: #8B8B8B;
    --gray-form-password: #9A9A9A;
    --gray-light: #0A0A0A;
    --gray-tag: #252525;
    --gray-difficulty: #8C7E71;
    
    --gray-modal: #B1B1B1;
    --gray-modal-button: #101010;
    --gray-modal-text: #ACA7A2;
    --gray-modal-background: #272727B2;
}