/* variables */
:root {
    --white: #FFFFFF;
    --white-background: #EFF2F4;
    --blue-title: #1B3168;
    --blue-button: #455884;
    --blue-button-active: #1B3168;
    --blue-file-icon: #03053D;
    --green: #52B788;
    
    --gray: #757575;
    --gray-form-password: #666666;
    --gray-light: #F6F6F6;
    --gray-tag: #DBDBDB;
    --gray-difficulty: #74828F;
    
    --gray-modal: #4F4F4F;
    --gray-modal-button: #F0F0F0;
    --gray-modal-text: #54595E;
    --gray-modal-background: #D9D9D9B2;
}