table{
    border: 3px solid #F0F0F0;
}

td {
    padding: 1%;
}

tr{
    border: 3px solid #F0F0F0;
}

tbody tr{
    color: #7a8894;
}

td.exercisefile{
    height: 8vh;
}

td.action a{
    display: flex;
    justify-content: space-around;
}