{% extends 'base.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
        <h1>Administration</h1>

    <div class="content">
        <h2>Modifier une classe</h2>

        {{ include('classroom_admin/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <a href="{{ path('app_classroom_admin') }}">retour à la liste</a>
    </div>
{% endblock %}
