{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
        <h1>Administration</h1>

    <div class="content">
        <h2>Modifier un exercice</h2>

        {{ include('exercice_admin/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <a href="{{ path('app_user_index') }}">retour à la liste</a>
    </div>
{% endblock %}
