{% macro container (title, content) %}
    <div class="container">
        <h2>{{title}}</h2>
        <div class="content">
            <p>{{content}}</p>
        </div>
        <ul>
            <li>Mention légales</li>
            <li>Contact</li>
            <li>Lycée Saint-Vincent</li>
        </ul>
    </div>
{% endmacro %}