{% extends 'base.html.twig' %}


{% block body %}
    <h1>titre de la page</h1>
    <div class="content">
        {{ component('Table', {'data': data, 'rendered': ['name', 'classroom', 'thematic', 'difficulty', 'duration', 'keywords', 'exercise_file'] }) }}
    </div>
{% endblock %}
