{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("css/myexercices.css")}}">
{% endblock %}

{% block body %}
    <h1>Mes exercices</h1>
    <div class="content">
        <div class="all-exercice-table">
            <h2>Vous pouvez modifier ou supprimer l'un de vos exercices.</h2>
            {{ component('TableA', {'data': exercicespaginate, 'rendered': ['name', 'course', 'classroom', 'thematic', 'exercise_file', 'actions'] }) }}
        </div>
    </div>
{% endblock %}