{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("css/myexercices.css")}}">
{% endblock %}

{% block body %}
    <h1>Mes exercices</h1>
    <div class="content">
        <div class="new-exercice-table">
            <h2>Nouveautés</h2>
            {{ component('Table', {'data': data, 'rendered': ['name', 'classroom', 'thematic', 'difficulty', 'duration', 'keywords', 'exercise_file'] }) }}
        </div>
        <div class="all-exercice-table">
            <h2>Vous pouvez modifier ou supprimer l'un de vos exercices.</h2>
            {{ component('Table', {'data': exercicespaginate, 'rendered': ['name', 'classroom', 'thematic', 'difficulty', 'duration', 'keywords', 'exercise_file'] }) }}
        </div>
    </div>
{% endblock %}